.BootstrapMulti{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  
}
.BootstrapMulti .slick-arrow.slick-prev,
.BootstrapMulti .slick-arrow.slick-next {
  background: #ffffff;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
  
}
.slick-prev::before,
.slick-next::before {
  display: none;
}
.BootstrapMulti .slick-arrow.slick-prev {
  left: 15px;
  padding-left: 10px;
}
.BootstrapMulti .slick-arrow.slick-next {
  right: 15px;
}
.card_slider_containers{
  width: 100%;
}
.card_slider_inner_containers{
  width: 100%;
  padding: 0px 10px;
}
.card_slider_inner_containers:hover{
  cursor: pointer;
}
.slider_carousel_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_leftarrow_icon,.card_rightarrow_icon{
  font-size: 20px;
  color: #515151;
}
.multi__image{
  width: 100%;
  height: 225px;
  object-fit: contain;
}
.slider_heading{
  color: #515151;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 600;
}
.viewmore_heading{
  color: var(--title-red-color);
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 400;
}
/* ====== Mobile ====== */
@media (max-width: 500px) {
  .multi__image {
    height: 180px;
  }
  .slider_heading {
    font-size: 14px;
  }
  .viewmore_heading {
    font-size: 12px;
  }
  .BootstrapMulti .slick-arrow.slick-prev,
  .BootstrapMulti .slick-arrow.slick-next {
    width: 30px;
    height: 25px;
  }
}

/* ====== Tablet ====== */
@media (max-width: 768px) {
  .multi__image {
    height: 200px;
  }
  .card_slider_inner_containers {
    padding: 0px 5px;
  }
  .BootstrapMulti .slick-arrow.slick-prev {
    left: 5px;
  }
  .BootstrapMulti .slick-arrow.slick-next {
    right: 5px;
  }
}

/* ====== Large Tablet / Small Laptop ====== */
@media (max-width: 1024px) {
  .multi__image {
    height: 220px;
  }
}
